* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    font-family: 'Libre Baskerville', serif;
}

.container-slider {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

}

.left-slide {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.left-slide>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-slide h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.right-slide {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    transition: transform .5s ease-in-out;
}

.right-slide>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff4e6;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.container-slider .action-buttons button {
    position: absolute;
    left: 30%;
    top: 45%;
    z-index: 100;

}


.container-slider .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 8px;
}


.container-slider .action-buttons .up-button {
    transform: translateY(-100%);
    border-bottom-right-radius: 8px;
}